//變數
@import "./base/var";

//函式
@import "./mixin/btn";
@import "./mixin/rect";
@import "./mixin/floatM";
@import "./mixin/fontSize";
@import "./mixin/jumpSymbol";
@import "./mixin/prefix";
@import "./mixin/mathSymbol";
@import "./mixin/ifElse";
@import "./mixin/for";
@import "./mixin/puesdo&";
@import "./mixin/while";
@import "./mixin/rwd";

//組件
//@include 函式裡的東西
//例如:btn組件

//layout
@import "./layout/header";
@import "./layout/footer";

//其他外掛、bootstrap


//-------------------------------------

// @mixin = js的function，用@include可以去呼叫他
// @mixin 變數名稱(){ }/ @include 變數名稱();
@mixin margin1() {
  margin: 50px;
}

body {
  background: lightpink;
  // padding: 100px;
  margin: 0px;
  // font-size: $fontSize;
  @include titleSize(14);
}

h1 {
  color: $color;
  font-size: $fontSize * 3;
}

p {
  color: $fontc;
  padding: 0;
  font-size: $fontSize * 0.8;
}

.mm {
  font-family: $fontFamily;
  font-size: $fontSize * 2;
}

// 巢狀寫法
#content {
  margin: 50px;
  width: 300px;
  height: 200px;
  background: black;

  h2 {
    color: blanchedalmond;
    margin: 20px;

    span {
      background: burlywood;
      color: $fontc;
      @include margin1(); //在這裡呼叫 @mixin margin1()
    }
  }

  p {
    font-size: $fontSize * 0.7;
    padding: 50px;
  }
}

.rect {
  @include rect(600px, 100px, rgba(190, 0, 0, 1));
}

.float_M {
  @include float_M(left, 50px);
  background: mediumseagreen;
}


//呼叫rwd @media(使用)
@include rwd(desktop){
  .wrapper{
    width: 1200px;
  }
}


//map
$a-map:(
  key1: 10px,
  key2: 20px,
  key2: 30px
);

h2{
  font-size:map-get($a-map, key3);
  width: map-get($a-map, key1);
}