//在scss裡使用加減乘除
//方法一
// .box_plus{
//     width: 10 + 30px;
//     height: 20px - 5px;
//     margin: 10px * 2; //單位不能相乘
//     font-size: (10/5)+px; //除法單位要另外加
// }

//方法二
//先設定好變數
$num: 10;
$num_: 20;
.box_plus {
  width: $num + $num_ + px;
  height: $num - $num_ + px;
  margin: round($num_ / $num_) + px; //四捨五入
  font-size: ceil($num_ / $num - 1) + px; //無條件進位
  padding: floor($num_ / $num - 1) + px; //無條件捨去
}